.row-container {
    display: flex;
    justify-content: space-between;
}

.width-control {
    max-width: 1000px;
    margin: auto;
}

.col-container {
    display: flex;
    flex-direction: column;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.title {
    font-size: 20px;
    font-weight: 500;
}

.item-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.heart-btn {
    position: absolute;
    top: 4px;
    right: 4px;
}
